body {
    margin: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    margin-bottom: 24px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}
.hero {
    display: flex;
    justify-content: space-between;
}
.hero img {
    background-color: #666;
}
.hero-left {
    width: 450px;
}

.hero button {
    padding: 8px 42px;
    background-color: #3882f6;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;    
}
.hero-sub-text, a {
    font-size: 18px;
    color: #e5e7eb;
}
a {
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.header {
    background-color: #1f2937;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 32px 24px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.flashcards {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 50px;
}

.flashcard p {
    width: 160px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

.image {
    width: 160px;
    height: 160px;
    border: 2px solid #3882f6;
    border-radius: 10%;
}

.quote {
    background-color: #e5e7eb;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}

.quote p, .quote .text {
    padding: 0;
    margin: 0;
    width: 830px;
}
.quote .text {
    text-align: end;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    padding-right: 100px;
}

.call-to-action {
    margin: 48px auto;
    padding: 36px;
    background-color: #3882f6;
    width: 750px;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.call-to-action button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 24px;
}

.call-to-action button, .sign-up {
    font-size: 18px;
}

.call-to-action .cta-text {
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 40px;
}